/server
/backend/client
/backend/serve
/backend/db
/backend/endpoint
/backend/auth
/backend/app
/backend/gorm.db
/backend/pkg/test.db
/db
/database
/frontend/node_modules
/frontend/src/components/HelloWorld.vue